{%extends "layout.html" %}
{% block content %}
<div class="content-section">
<form method="POST" action="">
{{form.hidden_tag()}}
<fieldset class="form-group">
		<div class="form-group">
			{{form.email.label}}
			{%if form.email.errors%}
				{{form.email(class="form-control is-invalid")}}
				<div class="invalid-feedback">
					{%for error in form.email.errors%}
						{{error}}
					{%endfor%}
				</div>
				{%else%}
				{{form.email(class="form-control")}}
			{%endif%}

	</div>
	<div class="form-group">
			{{form.password.label}}
			{%if form.password.errors%}
				{{form.password(class="form-control is-invalid")}}
				<div class="invalid-feedback">
					{%for error in form.password.errors%}
						{{error}}
					{%endfor%}
				</div>
			{%else%}
				{{form.password(class="form-control")}}
			{%endif%}
			
	</div>
	<div class="form-check">
	 {{form.remember(class="form-check-input")}}
	 {{form.remember.label}}
	 </div>
</fieldset>
<div class="form-group">
{{form.submit(class="btn btn-outline-info")}}
</div>
<a href='#'>Forgot password</a>
</form>
</div>
<div class="border-top">
Don't Have an Account? <a href="{{url_for('register')}}">Register now</a>
</div>
{%endblock content%}
